bd.machine.userprefs
packages
bd.machine.bal.csproj.user
src/bal/bin
src/bal/obj
db.machine.crawler.csproj.user
src/crawler/bin
src/crawler/obj
bd.machine.dal.csproj.user
src/dal/bin
src/dal/obj
src/webApp/bin
src/webApp/obj
src/hostCrawler/bin
src/hostCrawler/obj
src/urlCrawler/bin
src/urlCrawler/obj
src/titleCrawler/bin
src/titleCrawler/obj
src/webAppBot/bin
src/webAppBot/obj
src/bd.machine.descriptionCrawler/bin
src/bd.machine.descriptionCrawler/obj
