@model bd.machine.webApp.ViewModels.Home.HomeIndexViewModel

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Übersicht</h3>
			</div>
			<div class="panel-body">
				<div id="mynetwork"></div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Host</th>
						<th>Urls</th>
						<th>Seiten</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var host in Model.Hosts) {
					<tr>
						<td>@host.Id</td>
						<td>
							<a href="/Host/@host.Id">@host.Host</a>
						</td>
						<td>@host.Urls</td>
						<td>@host.Sites</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Script{
<script type="text/javascript">
  // create an array with nodes
  var nodes = new vis.DataSet([
    {id: 1, label: 'Node 1'},
    {id: 2, label: 'Node 2'},
    {id: 3, label: 'Node 3'},
    {id: 4, label: 'Node 4'},
    {id: 5, label: 'Node 5'}
  ]);

  // create an array with edges
  var edges = new vis.DataSet([
    {from: 1, to: 3},
    {from: 1, to: 2},
    {from: 2, to: 4},
    {from: 2, to: 5}
  ]);

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  var network = new vis.Network(container, data, options);
</script>
}