@model bd.machine.webApp.ViewModels.Home.HomeIndexViewModel

<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<form action="/Home/Url" method="post">
			<div class="input-group">
				@Html.AntiForgeryToken()
				@Html.TextBoxFor(m => m.Url, new { type="text", @class="form-control", placeholder="https://bd-machine.smerkel.com/" })
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">Go!</button>
				</span>
			</div>
		</form>
	</div>
</div>