@model bd.machine.webApp.ViewModels.Home.HomeIndexViewModel

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Urls</div>
			<div class="panel-footer">
				<!-- Html.ActionLink("Add", "Add", "Url", null, new { class="btn btn-default", role="button" }) -->
			</div>
		</div>
	</div>
</div>