@model bd.machine.webApp.ViewModels.Home.HomeUrlViewModel

<div class="row">
	<div class="col-md-12">
		@using(Html.BeginForm("Url", "Home", FormMethod.Post)) {
		<div class="form-group">
			@Html.AntiForgeryToken()
			@Html.TextBoxFor(m => m.Url, new { type="url", @class="form-control", placeholder="https://bd-machine.smerkel.com/" })
		</div>
		}
	</div>
</div>

<div class="raw">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div id="mynetwork"></div>
			</div>
		</div>
	</div>
</div>

@section Script{
<script>
	$.getJSON( "/Api/UrlGraph/@Model.Id", function(data) {
		var nodes = new vis.DataSet(data.Nodes);
		var edges = new vis.DataSet(data.Edges);
		var container = document.getElementById('mynetwork');
		var data = {
			nodes: nodes,
			edges: edges
		};
		var options = {
			autoResize: true,
			height: '500px',
			width: '100%',
			configure: true,
			physics: {
				stabilization: false
			}
		};
		var network = new vis.Network(container, data, options);
	});
</script>
}