@model bd.machine.webApp.ViewModels.Host.HostIdViewModel
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">@Model.Host</h3>
			</div>
			<div class="panel-body">
				<canvas id="chart"></canvas>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Url</th>
							<th>HTML-Seiten</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var url in Model.Urls) {
						<tr>
							<td><a href="/Url/Id/@url.Id">@url.Id</a></td>
							<td><a href="/Url/Id/@url.Id">@url.Url</a></td>
							<td><a href="/Url/Htmls/@url.Id">@url.Htmls</a></td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section Script{
<script src="/Scripts/Charts/Common.js"></script>
<script src="/Scripts/Charts/Data.js"></script>
<script src="/Scripts/Charts/Options.js"></script>
<script src="/Scripts/Charts/Config.js"></script>
<script>
	var chartContext = document.getElementById("chart");
	var chart = new Chart(chartContext, chartConfig);

	$.get( "/Host/Data/@Model.Id", function(data) {
		var urlsDataset = {
                label: "Urls",
                data: data,
        };
		chartConfig.data.datasets.push(urlsDataset);
		chart.update()
	}, "json" );

</script>
}