@model bd.machine.webApp.ViewModels.Host.HostUrlsViewModel
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Url</th>
							<th>Sites</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var url in Model.Urls) {
						<tr>
							<td>
								@url.Id
							</td>
							<td>@url.Url</td>
							<td> 
								<a href="/Url/Htmls/@url.Id">@url.Htmls</a>
							</td>
						</tr>
						} 
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>