@model bd.machine.webApp.ViewModels.Home.HomeIndexViewModel

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Urls</div>
			<!-- Tabelle -->
			<table class="table">
				<caption>Optionale Tabellen-Beschriftung.</caption>
				<thead>
					<tr>
						<th>Id</th>
						<th>Url</th>
						<th>Sites</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var url in Model.Urls)
					{
					<tr>
						<td>@url.Id</td>
						<td>@url.Url</td>
						<td>@url.SitesCount</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>