<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Urls</div>
			<!-- Tabelle -->
			<table class="table">
				<caption>Optionale Tabellen-Beschriftung.</caption>
				<thead>
					<tr>
						<th>Id</th>
						<th>Url</th>
						<th>Sites</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>gibip.de</td>
						<td>234</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>