@model bd.machine.webApp.ViewModels.RawHtml.RawHtmlTextViewModel

<table class="table">
	<thead>
		<tr>
			<th>Text</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var textLine in Model.Text) {
		<tr>
			<td>@textLine</td>
		</tr>
		}
	</tbody>
</table>