@model bd.machine.webApp.ViewModels.RawHtml.RawHtmlUrlsViewModel

<table class="table">
	<thead>
		<tr>
			<th>Url</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var url in Model.Urls) {
		<tr>
			<td>@url</td>
		</tr>
		}
	</tbody>
</table>