@model bd.machine.webApp.ViewModels.RawHtml.RawHtmlIndexViewModel
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Index</h3>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" @if (Model.Text != null) { @Html.Raw(@"class=""active""") } ><a href="/RawHtml/Text/@Model.Id">Text</a></li>
					<li role="presentation" @if (Model.Urls != null) { @Html.Raw(@"class=""active""") } ><a href="/RawHtml/Urls/@Model.Id">Urls</a></li>
				</ul>
				@if (Model.Text != null) { @Html.Partial("_Text", Model.Text) }
				@if (Model.Urls != null) { @Html.Partial("_Urls", Model.Urls) }
			</div>
		</div>
	</div>
</div>